* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  cursor: url(./img/cursor1.svg), auto;
  user-select: none; /* Нельзя выделять */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.main {
  background-color: #f5f3de;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*<-- header -->*/
.main .header {
  background-color: #f5f3de;
  color: #4f649b;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 0;
}
.main .photo {
  position: relative;
  width: 29.5vw; /* Было 575px */
  height: 110vh; /* Было 600px */
  top: 4.5vh; /* Было 80px */
  left: 1vw; /* Было -1540px */
  object-fit: cover;
}
.main .img1 {
  position: absolute;
  width: 61.8vw; /* Было 1560px */
  height: 50vh; /* Было 1530px */
  top: 0;
  left: 1.5vw; /* Было 3410px */
}
.main .img2 {
  position: absolute;
  width: 29.7vw; /* Было 3300px */
  height: 50vh; /* Было 1530px */
  top: 0;
  left: 65.7vw; /* Было 30px */
}
.header .title {
  position: absolute;
  left: 1.76vw; /* Было -1549px */
  width: 97.66vw; /* Было 1875px */
  height: 15.36vh; /* Было 295px */
  top: 54vh; /* Было 1570px */
  font-family: "Impact-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 18.027vw; /* Было 952.3px */

  letter-spacing: 0.07vw; /* Было 1.40px */
  line-height: 0.92vh; /* Было 17.6px */
}
.header .subtitle {
  position: absolute;
  left: -1vw; /* Было 1560px */
  width: 97.66vw; /* Было 1875px */
  height: 15.36vh; /* Было 295px */
  top: 77vh; /* Было 2150px */
  font-family: "Impact-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 5vw; /* Было 250px */
  text-align: right;
  letter-spacing: 0.07vw;
  line-height: 1.8vh; /* Было 50px */
}
.header .textabt {
  position: absolute;
  left: 2.5vw; /* Было -1510px */
  width: 90%;
  height: 15.36vh; /* Было 295px */
  top: 75vh; /* Было 2100px */
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.4vw; /* Было 80px */
  letter-spacing: 0.07vw;
  line-height: 4vh; /* Было 90px */
}
.header .button {
  position: absolute;
  left: 2.5vw; /* Было -1510px */
  top: 100vh; /* Было 2700px */
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.4vw; /* Было 80px */
  text-decoration: none;
  color: #4f649b;
}
.header .button:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}


/*<-- news -->*/
.media .media1 {
  position: absolute;
  left: 320px;
  top: 3200px;
  width: 1500px;
  height: 1750px;
}
.media .media2 {
  position: absolute;
  right: 320px;
  top: 5000px;
  width: 1500px;
  height: 1750px;
}
.media .titlenews {
  position: absolute;
  right: 600px;
  top: 3180px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 150px;
  color: #4f649b;
}
.media .abtnews {
  position: absolute;
  right: 220px;
  top: 3800px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 75px;
  color: #4f649b;
}
.media .more {
  position: absolute;
  right: 2060px;
  top: 4410px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 75px;
  text-decoration: none;
  color: #4f649b;

}
.media .more:hover {
    cursor: url(./img/cursor2.svg), pointer;
    text-decoration: underline;
  }

/*<-- about -->*/
.second {
  background-color: #4f649b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.second .logo {
  position: absolute;
  top: 80px;
  left: -2010px;
  width: 450px;
  height: 450px;
}
.second .about {
  background-color: #4f649b;
  color: #ffffff;
  width: 900px;
  height: 3000px;
  position: relative;
}
.second .aboutbtn {
  position: absolute;
  right: 100px;
  top: 110px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
  color: white;
}
.about .aboutbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .eventsbtn {
  position: absolute;
  right: 215px;
  top: 210px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
  color: white;
}
.about .eventsbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .teachersbtn {
  position: absolute;
  right: 190px;
  top: 310px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
  color: white;
}
.about .teachersbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .contactsbtn {
  position: absolute;
  right: 240px;
  top: 410px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-decoration: none;
  color: white;
}
.about .contactsbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .quote {
  position: absolute;
  left: -1800px;
  width: 4500px;
  height: 295px;
  top: 1450px;
  font-family: "Helvetica", Helvetica, sans-serif;
  font-weight: 10;
  font-size: 150px;
  letter-spacing: 1.40px;
  line-height: 120%;
}

/*<-- teachers -->*/
/*как нибудь по позже*/

/*<-- contacts -->*/
.fourth {
  background-color: #f5f3de;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.fourth .contacts {
  position: absolute;
  width: 100%;
  height: 2900px;
  background: #f5f3de;
}
.text {
  position: absolute;
  left: 300px;
  top: 800px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 200px;
  color: #4f649b;
}
.smth {
  position: absolute;
  left: 300px;
  top: 1500px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #4f649b;
}
.number, .mail, .adress {
  color: #4f649b;
  text-decoration: none;
}
.number:hover, .mail:hover, .adress:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.telegram {
  position: absolute;
  top: 2300px;
  left: 600px;
}
.vk {
  position: absolute;
  top: 2300px;
  left: 850px;
}
.map {
  position: absolute;
  right: 320px;
  top: 1200px;
  width: 2000px;
  height: 1050px;
}
.telegram, .vk {
  cursor: url(./img/cursor2.svg), pointer;
  height: 150px;
  width: 150px;
}

/*<-- footer -->*/
.footer {
  background-color: #f5f3de;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.footer .footer {
  position: absolute;
  width: 100%;
  height: 2900px;

}
.author {
  position: absolute;
  color: #4f649b;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-size: 50px;
  top: 12120px;
}
