* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  cursor: url(./img/cursor1.svg), auto;
}

.main {
  background-color: #F5F5DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
/*<-- header -->*/
.main .header {
  background-color: #F5F5DC;
  color: #4A6B4A;
  width: auto;
  height: 1700px;
  position: relative;
}
.main .photo {
  position: absolute;
  width: 575px;
  height: 600px;
  top: 30px;
  left: 0;
}
.main .photo img {
  object-fit: cover;
}
.main .img1 {
  position: absolute;
  width: 805px;
  height: 350px;
  top: 0;
  left: -610px;
}
.main .img2 {
  position: absolute;
  width: 385px;
  height: 350px;
  top: 0;
  left: 225px;
}
.header .title {
  position: absolute;
  left: -619.5px;
  width: 100%;
  height: 295px;
  top: 371px;
  font-family: "Impact-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 233px;
  text-align: center;
  letter-spacing: 1.60px;
  line-height: 17.6px;
}
.header .subtitle {
  position: absolute;
  left: -1259px;
  width: 1875px;
  height: 295px;
  top: 500px;
  font-family: "Impact-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size:80px;
  text-align: right;
  letter-spacing: 1.40px;
  line-height: 80px;
}
.header .textabt {
  position: absolute;
  left: -610px;
  width: 1000px;
  height: 295px;
  top: 540px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.40px;
  line-height: 30px;
}
.header .button {
  position: absolute;
  left: -610px;
  top: 700px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #4A6B4A; /* Цвет текста */
}
.header .button:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main .header {
    height: auto;
    padding: 1rem;
    position: static;
  }
  .main .photo {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .img1 {
    position: static;
    width: 30rem;
    height: auto;
    max-width: 100%;
  }
  .main .img2 {
    display: none
  }
  .header .title {
    position: static;
    font-size: 90px;
    text-align: center;
    margin-top: -8.78px;
  }

  .header .subtitle {
    position: static;
    font-size: 32px;
    right: -5rem;
    text-align: center;
    margin-top: -200px;
    line-height: 30px;
  }

  .header .textabt {
    position: static;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin: 1rem auto;
  }

  .header .button {
    position: static;
    display: block;
    text-align: center;
    margin: 1rem auto;
  }
}


/*<-- news -->*/
.main .news {
  position: absolute;
  width: 575px;
  height: 600px;
  top: 30px;
  left: 60px;
  right: 60px;
  object-fit: cover;
}
.media .media1 {
  position: absolute;
  left: 0;
  top: 800px;
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.media .media2 {
  position: absolute;
  right: -575px;
  top: 1300px;
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.media .titlenews {
  position: absolute;
  width: 100%;
  left: 500px;
  top: 800px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #4A6B4A;
}
.media .abtnews {
  position: absolute;
  left: 500px;
  top: 900px;
  width: 100%;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #4A6B4A;
}
.media .more {
  position: absolute;
  left: 500px;
  top: 1110px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #4A6B4A;

}
.media .more:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
/*<-- about -->*/
.second {
  background-color: #4A6B4A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.second .logo {
  position: absolute;
  top: 20px;
  left: -430px;
  width: 120px;
  height: 105px;
}
.second .about {
  background-color: #4A6B4A;
  color: #ffffff;
  width: 400px;
  height: 900px;
  position: relative;
}
.second .aboutbtn {
  position: absolute;
  right: -60px;
  top: 20px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.about .aboutbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .eventsbtn {
  position: absolute;
  right: -35px;
  top: 40px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.about .eventsbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .teachersbtn {
  position: absolute;
  right: -40px;
  top: 60px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.about .teachersbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .contactsbtn {
  position: absolute;
  right: -28px;
  top: 80px;
  width: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.about .contactsbtn:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.second .quote {
  position: absolute;
  left: -380px;
  width: 1200px;
  height: 295px;
  top: 500px;
  font-family: "Helvetica", Helvetica, sans-serif;
  font-weight: 10;
  font-size: 40px;
  letter-spacing: 1.40px;
  line-height: 120%;
}
/*<-- teachers -->*/



/*<-- contacts -->*/
.fourth {
  background-color: #F5F5DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.fourth .contacts {
  position: absolute;
  width: 100%;
  height: 930px;
  background: #F5F5DC;
}
.text {
  position: absolute;
  left: 50px;
  top: 200px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #4A6B4A;
}
.smth {
  position: absolute;
  left: 50px;
  top: 400px;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #4A6B4A;
}
.number, .mail, .adress {
  color: #4A6B4A;
  text-decoration: none;
}
.number:hover, .mail:hover, .adress:hover {
  cursor: url(./img/cursor2.svg), pointer;
  text-decoration: underline;
}
.telegram {
  position: absolute;
  top: 650px;
  left: 180px;
}
.vk {
  position: absolute;
  top: 650px;
  left: 260px;
}
.map {
  position: absolute;
  right: -730px;
  top: 350px;
  width: 500px;
  height: 300px;
}

.telegram, .vk {
  cursor: url(./img/cursor2.svg), pointer;
  height: 50px;
  width: 50px;
}
/*<-- footer -->*/
.footer {
  background-color: #F5F5DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.footer .footer {
  position: absolute;
  width: 100%;
  height: 10px;

}
.author {
  position: absolute;
  color: #4A6B4A;
  font-family: "Helvetica-Bold", Helvetica, sans-serif;
  font-size: 15px;
  top: 3500px;
}