@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bauhaus-light: #f5f5f5;
  --bauhaus-blue: #3498db;
  --bauhaus-red: #e74c3c;
  --bauhaus-green: rgb(81, 106, 77);
}

body {
  @apply bg-bauhaus-light text-gray-900;
  cursor: url('/images/cursor2.svg') 10 10, auto;
}

* {
  cursor: url('/images/cursor2.svg') 10 10, auto;
}

*:hover {
  cursor: url('/images/cursor1.svg') 10 10, pointer;
}

.pixelate {
  filter: blur(1.5px) contrast(200%);
}
